<div class="row-fluid" id="breadcrumb">
    <ul class="nav nav-pills">
      <li><a href="/">home</a></li>
      {% if page.title == "home" %}
        <li class="active"><a href="/posts">posts</a></li>
      {% endif %}
      {% if page.layout == "post" %}
        <li><a href="/posts">posts</a></li>
      {% endif %}
      {% if page.title != "home" and page.title != "posts" %}
        <li class="active">
            <a href="#">{{page.title | strip_html | downcase}}</a>
        </li>
      {% endif %}
    </ul>
</div>
