<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem">
        <a href="{{site.baseurl}}">Home</a>
    </li>
    <!-- <li class="nav-about" role="menuitem">
                                            <a href="{{site.baseurl}}about/">About</a>
                                        </li> -->
    <li class="nav-linkedin" role="menuitem">
        <a href="https://linkedin.com/in/andrewbunday/">LinkedIn</a>
    </li>
    <li class="nav-about" role="menuitem">
        <a href="{{"/" | relative_url}}tags">tags</a>
    </li>
    <li class="nav-about" role="menuitem">
        <a href="{{"/" | relative_url}}tag/3dprinting">3D Printing</a>
    </li>
</ul>
