html {
    overflow-y: scroll;
}

h1 small{color: #969696; /*dfdfdf*/}
h2 small{color: #969696; /*dfdfdf*/}
h3 small{color: #969696; /*dfdfdf*/}
h4 small{color: #969696; /*dfdfdf*/}

.flickr_gallery img {
    background: #fff;
    padding: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-border-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    border-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    text-decoration: none;
}

.fancybox a {
    text-decoration: none;
    color: #fff;
}

.fancybox a:hover {
    text-decoration: none;
    color: #fff;
}

.fancybox-title a {
    color: #fff;
}

#thumbnailContainer img {
    padding: 10px;
}

.btn h2 small{color: #ffffff}

.page-header h4{
    margin-right:60px;
}

.well-large {
    display: inline-block;
    min-height: 70px;
}

.well pre {
    background-color: #fff;
}

.well blockquote {
    background-color: #fff;
}

.well hr {
    border-bottom-color: #e3e3e3;
}

.navbar {

}

.navbar-inner {
    background-color: #ffffff;
}

.navbar .nav>li>a {
    color: #555555;
    text-shadow: none;
}

.navbar .nav>li>a:hover {
    color: #ffffff;
    text-shadow: none;
    background-color: #555555;
}

.nav-list > .active > a {
    color: #ffffff;
    text-shadow: none;
    background-color: #555555;
}


.nav-pills {
  border-style: dashed none;
  border-width: 1px;
  border-spacing: 1px;
  border-color: #969696;
}

.main-content hr {
    margin-top: 0px;
}

.main-content h3 {
    margin-top: 20px;
    margin-bottom:10px;
}

.main-content h2 {
    margin-top: 20px;
    margin-bottom:10px;
}



.secondary-story-header {
    min-height: 200px;
    max-height: 220px;
    vertical-align: text-top;
}

.secondary-story-header h3{
    min-height: 40px;
    vertical-align: text-top;
    margin-top: 0px;
}

.secondary-story-header img{
    max-height: 150px;
    width: 100%;
}

.h4-3em h4{
    padding-top: 20px;
    line-height: 30px;
}

.hero-unit {
    /*margin-bottom: 0px;*/
    margin-top: 10px;
}

.page-header {
    margin-bottom: 20px;
    /*padding-left: 60px;*/
    max-width: 1000px;
    /*margin-left: auto;*/
    margin-right: auto;
    margin-top: 30px;
    border-bottom: 0px solid #EEE;
}

.breadcrumb {
    margin-bottom: 10px;
}

#breadcrumb {
    max-width: 1000px;
    /*margin-left: auto;*/
    margin-right: auto;
    margin-bottom: 5px;
    /*padding-left: 60px;*/
}

#recent-posts {
    margin-bottom: 15px;
}

.main-content {
    padding-left: 60px;
    padding-right:60px;
    height: 100%;
    max-width: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#pastPostTab {
    padding-top: 10px;
}

#main-nav {
    margin: 0px;
}

#tagged_posts{
    text-align: center;
}

#tagged_posts label{
    margin: 3px;
}

#frontpage_posts {
    margin: 10px 0px 10px 0px;
}

.frontpage_thumbs{
    height: 50px;
    background-position: center center;
    background-size: 100% 200%;
    background-repeat:no-repeat;
    overflow: hidden;
    /*max-width: 500px*/
}

.default-contact-thumbs{
    margin-left:auto;
    margin-right:auto;
    width: 30%;
    max-width: 500px;
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: url(filters.svg#grayscale);
}

.page-contact-thumbs{
    margin-left:auto;
    margin-right:auto;
    width: 20%;
    max-width: 500px;
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: url(filters.svg#grayscale);
}

.about-contact-thumbs{
    margin-left:auto;
    margin-right:auto;
    width: 20%;
    max-width: 500px;
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: url(filters.svg#grayscale);
}

.post-contact-thumbs{
    margin-left:auto;
    margin-right:auto;
    width: 20%;
    max-width: 500px;
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: url(filters.svg#grayscale);
}

.main-navbar {
}

.main-navbar-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid.main-navbar {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-inner.main-navbar-inner{
    padding: 0px;
}

.navbar.nav{
    margin-right: 0px;
}

.avatar {
    max-width: 170px;
    min-width: 170px;
    padding: 10px;
    margin-top: 25px;
}

img.twitter {
    width:45px;
    height:45px;
    background:url(img_navsprites.gif) 180px 45px;
}

p {
    text-align: justify;

}

a {
    color: #000
}

@media (max-width: 979px) {
  .hidden-1000 {
        display:none !important;
    }

  .span12-tablet {
    width: 91.48936170212765% !important;
    *width: 91.43617021276594% !important;
  }

  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0px;
    margin-right: -20px;
  }

  .navbar .btn-navbar {
    display: block;
  }
}

code{color:rgba(0, 0, 0, 0.75);padding:1px 3px;}

@media (max-width: 635px) {
    .secondary-story-header h4{
      min-height: 30px;
      vertical-align: text-top;
      font-size: 14px;
    }

    .secondary-story-header {
      min-height: 150px;
      vertical-align: text-top;
    }
}
