<ul class="thumbnails pull-right hidden-800">
    <li class="span12">
        <div class="thumbnail avatar">
            <img src="/assets/img/avatar.jpg" alt>
            <h4>About Me</h4>
            <h5><a href="/about.html">Andrew Bunday</a></h5>
            <p>I'm a VFX technologist working London where I apply the majority of
                   my time solving problems related to Pipeline and Systems development.</p>
            <p>If you want to get in touch, please give me a shout via one of the
               links at the bottom of the page.</p>
        </a>
    </li>
</ul>
