<div class="navbar navbar-static-top">
    <div class="navbar-inner main-navbar-inner">
        <div class="container-fluid main-navbar">
            <a class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
           </a>

            <div class="nav-collapse pull-right">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/posts.html">Posts</a></li>
                    <li><a href="https://github.com/andrewbunday" target="_blank">Github</a></li>
                    <li><a href="http://www.linkedin.com/in/andrewbunday" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
