<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <script>
            $(document).ready(function() {
                // icky icky icky bit of jquery to clean up page
                var post_div = $('#latest-post-content').get();
                $(post_div).find('h3#contents')[0].remove();
                $(post_div).find('hr')[0].remove();
            });
        </script>
    </head>
    <body>
        <div class="page">
            {% include navbar.html %}
            {% include header.html %}
            {% include breadcrumb.html %}

            <div class="container-fluid main-content">
                <div class="row-fluid" id="recent-posts" >
                    {% for post in site.posts limit:3 offset:1%}
                        <div class="row-fluid">
                            <div class="span6 secondary-story-header">
                                <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
                            </div>
                            {% if post.image %}
                            <div class="span6  frontpage_thumbs" style="background-image: url({{post.image}})">
                            {% else %}
                            <div class="span6">
                            {% endif %}
                                {{ post.synopsis }}
                            </div>
                        </div>
                        <hr id="frontpage_posts">
                    {% endfor %}
                    </ul>
                </div>
            </div>
                <div class="row-fluid" id="main-post">
                    <div class="span12" style="margin-top: 10px">
                        <!--{% include hero-unit.html %}-->
                        {% for post in site.posts limit:1 %}
                            <div class="row-fluid" id="breadcrumb">
                                <ul class="nav nav-pills">
                                  <li><a href="{{BASE_PATH}}{{post.url}}">latest</a></li>
                                  <li class="active"><a href="{{BASE_PATH}}{{post.url}}">{{ post.title|strip_html|downcase }}</a></li>
                                  <li><a href="{{BASE_PATH}}{{post.url}}">{{ post.date|date_to_string }}</a></li>
                                </ul>
                            </div>

                            <div class="container main-content" id='latest-post-content'>
                                <h1>{{ post.title }}</h1>
                                <div class="row-fluid">
                                    <div class="span8">
                                        <p class="muted">{{post.date | date: "%a %d %b %Y"}}</p>
                                    </div>
                                </div>
                                {{ post.content }}
                            </div>
                        {% endfor %}
                    </div>
                </div>


        {% include footer.html %}
        </div>
     </body>
</html>


